[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
arrow = "*"
flask = "*"
transformers = "*"
prometheus-flask-exporter = "*"
torch = "*"

[dev-packages]

[requires]
python_version = "3.11"

[scripts]
test = "python -m unittest discover tests"
